# Configuration of Hugo
# Website name
title: Bioestadisticaedu
# Website URL
baseURL: 'https://bioestadisticaedu.com/'

############################
## LANGUAGE
############################
defaultContentLanguage: es
hasCJKLanguage: false
defaultContentLanguageInSubdir: false
removePathAccents: true

############################
## ADVANCED
############################
build:
  writeStats: true
enableGitInfo: false
summaryLength: 30
pagination:
  pagerSize: 10
enableEmoji: true
enableRobotsTXT: true
footnotereturnlinkcontents: <sup>^</sup>

# Configuración para ignorar archivos fuente de R y Jupyter
ignoreFiles: [\.ipynb$, .ipynb_checkpoints$, \.Rmd$, \.Rmarkdown$, _cache$]

permalinks:
  authors: '/author/:slug/'
disableAliases: true

# Definición de salidas estándar para Home y Secciones
outputs:
  home: [HTML, RSS, headers, redirects, backlinks]
  section: [HTML, RSS]

imaging:
  resampleFilter: lanczos
  quality: 80
  anchor: smart
timeout: 600000

taxonomies:
  _merge: deep
  category: categories
  tag: tags

markup:
  highlight:
    lineNos: false
  goldmark:
    renderer:
      unsafe: true

security:
  _merge: deep
sitemap:
  _merge: deep

related:
  includeNewer: true
  threshold: 80
  toLower: true
  indices:
    - name: categories
      weight: 70
    - name: tags
      weight: 100
    - name: date
      weight: 10

cascade:
  - _target:
      path: /post/**
    show_author: true
    pager: true
    reading_time: true
    commentable: true
    show_related: true
    profile: true
    share: true
    show_breadcrumb: true
    header:
      navbar:
        enable: true

############################
## CUSTOM OUTPUTS (SOLUCIÓN AL ERROR)
############################
outputFormats:
  Reveal:
    baseName: index
    mediaType: text/html
    isHTML: true
    noUgly: true
    layout: reveal