# Archivos de R/RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata


# Carpeta pública generada por Hugo
/public/
/resources/

# Archivos del sistema
.DS_Store
Thumbs.db
.hugo_build.lock

# Tema Academic (si lo tienes como submódulo Git)
/themes/
# es correcto si no modificas el tema (/themes/).

/prompts/

# archivos temporales de editor o sistema operativo adicionales
*.log
*.tmp
*.swp